<h1>New List</h1>

<%= form_with model: @list, local: true do |form| %>
  <% if @list.errors.any? %>
    <ul>
      <% @list.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>

  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <%= form.submit "Créer une liste", class: "btn btn-info mt-3" %>
<% end %>

<%= link_to "Retour à toutes les listes", lists_path, class: "btn btn-primary mt-3" %>
